@import "~bootstrap/scss/bootstrap.scss";
.counter{
    text-align: center;
    width: 100%;
    height: 260px;
    color:whitesmoke;
    background-color: black;
    font-size:120px;
}
#numbers{
    display:inline-block;
    background-color: #101010;
    border-radius: 15px;
    border: solid #212121;
    border-bottom: hidden;
    border-top: hidden;
    border-width: 7px;
    margin: 15px;
    padding: 25px;
    }